.UsersAvatar {
  height: 100px;
  width: 100px;
  border-radius: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.UsersAvatarDefault {
  height: 90px;
  width: 145px;
  border-radius: 60px;
}

.userContainer {
  display: grid;
  grid-template-columns: 80% 180px;
}

.buttonAdd {
  color: lightgrey;
  background-color: #3f426b;
  height: 35px;
  width: 90px;
  font-size: 12pt;
  padding-top: 4px;
}

.buttonAddWrite {
  padding-top: 23px;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
}

.buttonAdd:active {
  background: lightgrey;
  color: #000;
}

.line {
  width: 100%;
  color: lightgrey;
  height: 1px;
  margin: 10px;
}
