.wrapper {
  margin: 0 auto;
}

.UsersAvatar {
  height: 100px;
  width: 100px;
  border-radius: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.UsersAvatarDefault {
  height: 90px;
  width: 145px;
  border-radius: 60px;
}

.userContainer {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 80% 20%;
}

.buttonAdd {
  color: lightgrey;
  background-color: #3f426b;
  height: 35px;
  min-width: 70px;
  font-size: 12pt;
  padding: 4px;
}

.buttonAddWrite {
  padding-top: 23px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.buttonAdd:active {
  background: lightgrey;
  color: #000;
}

.line {
  width: 100%;
  color: lightgrey;
  height: 1px;
  margin: 10px;
}
