* {
  outline: none;
}

input[class*=ignore-onclickoutside] {
  margin-right: -17px;
}

div[class*=month-container] {
  box-shadow: 0 0 10px gray;
  font-size: 16px;
}

div[class*=react-datepicker__header] {
  background: #3f426b;
}

select[class*=month-select],
select[class*=year-select] {
  border-radius: 5px;
  padding: 4px;
  font-size: 16px;
}

div[class*=current-month--hasMonthDropdown] {
  padding: 2px 0 7px;
}

div[class*=day--selected][class*=weekend],
div[class*=day--selected] {
  background: #3f426b;
  color: white;
}

div[class*=current-month--hasMonthDropdown],
div[class*=day-name] {
  color: white;
}

div[class*=day--weekend] {
  color: #dd404e;
}

div[class*=day--weekend][class*=day--disabled] {
  color: gray;
}

.signupMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupForm {
  display: flex;
  flex-direction: column;
  padding: 60px 40px;
  border-radius: 4px;
  box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.09);
  margin-bottom: 40px;

  h1 {
    margin: 0 auto;
  }

  p {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 12px;
  }

  label {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      font-size: 18px;
      padding-left: 10px;
      margin-left: 20px;
      border-radius: 3px;
      height: 40px;
    }
  }

  .SignupButton {
    margin-top: 60px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background: #dd404e;
    border-radius: 4px;
    color: white;
    border: none;

    &:hover {
      background: rgb(187, 43, 55);
      cursor: pointer;
    }

    &:focus {
      background: rgb(187, 43, 55);
      outline: none;
    }

    &:active {
      background: rgb(126, 14, 23);
    }
  }
}
