.SearchDialogs {
  width: 95%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SearchInputDialog {
  width: 80%;
  height: 30px;
  padding-left: 5px;
  border: 2px solid rgb(172, 172, 172);
  border-radius: 5px;
  outline: none;
}
