.blockUserAdmin {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.avatar {
  height: 100px;
  width: 100px;
  margin-left: 30%;
}
