.form {
  width: 400px;
  position: absolute;
  right: 10%;
  padding: 0.8em;
  background-color: white;
}

.Login {
  text-align: center;
  margin-bottom: 50px;
}

.Heading {
  margin-bottom: 1em;
  color: #3f426b;
  text-align: center;
}

.Link {
  margin-top: 30px;
  border-top: 1px solid #e2e2e2;
}

.LogIn {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #8d8888;

  &:hover {
    color: #3f426b;
  }
}

.VerticalLine {
  color: #3f426b;
  font-size: 23px;
  margin: 0 0.8em 0 0.8em;
}

.wantLogin {
  font-size: 14px;
  color: #aeaeae;
}

div[class=input-group] {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
}

div[class=input-group-prepend] {
  width: 15%;
  float: left;
  display: inline;
}

input[name=userName] {
  width: 85%;
  display: inline;
}
