@import "./variables.scss";
@import "emoji-mart/css/emoji-mart.css";

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

input,
textarea,
button {
  outline: none;
  border: none;
  background: none;
}
