@import '../variables.scss';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  color: rgb(96, 97, 98);
  font: bold;
  font-size: 32px;
  max-width: var(--max-content-width);
}
