.form {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  text-align: center;
  margin-bottom: 50px;
}

div[class=input-group] {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
}

div[class=input-group-prepend] {
  width: 15%;
  float: left;
  display: inline;
}

input[name=userName] {
  width: 85%;
  display: inline;
}
