.restoreWrap,
.restoreForm {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.header {
  text-align: center;
}

.restoreForm {
  align-items: center;

  .formGroup{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;

    label {
      width: 40%;
      min-width: 100px;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      color: #777;
      cursor: pointer;
    }

    div{
      width: 60%;
    }
  }



  .submit {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    border: none;
    background: #3f426b;
    color: #fff;
    padding: 1rem 5rem 1rem 35px;
  }
}
