.searchPanel {
  margin-left: -60px;
}

.searchPanelDiv {
  display: inline-block;
  //   float: left;
  width: 265px;
  height: 33px;
}

.searchPanelInput {
  height: 32px;
  margin-right: 12px;
  outline: none;
  // border: 1px solid #ccc;
  background-color: white;
  // 	font: inherit;
  // 	padding: 6px 10px;
  // 	display: block;
  // 	width: 100%;
  // 	box-sizing: border-box;
}

.searchPanelInput:focus {
  background-color: #ccc;
}

.searchPanelIcon {
  width: 36px;
  height: 33px;
  background-color: #3f426b;
}

//----------------------------------------------
// .searchPanel {
// 	  width: 100%;
// 	padding: 10px;
// 	box-sizing: border-box;
// 	margin-left: -60px;
// }
// .searchPanelDiv {
// 	font-weight: bold;
// 	display: inline-block;
// 	margin-bottom: 8px;
// }
// .searchPanelInput {
// 	outline: none;
// 	border: 1px solid #ccc;
// 	background-color: white;
// 	font: inherit;
// 	padding: 6px 10px;
// 	display: block;
// 	width: 100%;
// 	box-sizing: border-box;
// }
// .searchPanelInput:focus {
// 	outline: none;
// 	background-color: #ccc;
// }
