.searchPanel {
	margin-left: -60px;
}

.searchPanelDiv {
	// display: inline-block;
	// float: left;
	width: 265px;
	height: 33px;
}

.searchPanelInput {
	height: 32px;
	margin-right: 12px;
}

.searchPanelInput:focus {
	background-color: #ccc;
}
// .searchPanelIcon {
// 	width: 36px;
// 	height: 33px;
// 	background-color: #3f426b;
// }

//----------------------------------------------
// .Input {
//   width: 100%;
//   padding: 10px;
//   box-sizing: border-box;
// }
// .Label {
//   font-weight: bold;
//   display: block;
//   margin-bottom: 8px;
// }
// .InputElement {
//   outline: none;
//   border: 1px solid #ccc;
//   background-color: white;
//   font: inherit;
//   padding: 6px 10px;
//   display: block;
//   width: 100%;
//   box-sizing: border-box;
// }
// .InputElement:focus {
//   outline: none;
//   background-color: #ccc;
// }
