.searchPanel {
	margin-left: -110px;
}
.searchPanelDiv {
	display: inline-block;
	width: 265px;
	height: 33px;
}
.searchPanelIcon {
	width: 36px;
	height: 33px;
	background-color: #3f426b;
}
.searchPanelInput {
	outline: none;
	background-color: white;
	font-style: inherit;
	padding: 6px 7px;
	border: 1px solid #ccc;
}
.searchPanelInput:focus {
	background-color: #ccc;
	outline: none;
}
