.banner {
  margin-top: 60px;
  margin-left: 10px;
}

.top {
  vertical-align: bottom;
}

.visit,
.middle,
.right {
  margin-left: -1px;
}

@-moz-document url-prefix() {
  .middle,
  .visit {
    margin-left: -2px;
  }
}
