@import "../variables.scss";
@import "../../style/index.scss";

.container {
  padding: 0;
}

.childrenWrap {
  min-height: calc(100vh - 150px);
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 50px;
  padding-top: 70px;
}
