@import '../variables.scss';
@import '../../style/index.scss';

/*
 * normalize.css is importe@import '../../style/index.scss';d in JS file.
 * If you import external CSS file from your internal CSS
 * then it will be inlined and processed with CSS modules.
 */

/*
 * Base styles
 * ========================================================================== */

html {
  color: #292b2c;
  font-weight: 100;
  font-size: 1em;

  /* ~16px; */
  font-family: var(--font-family-base);
  line-height: 1.375;

  /* ~22px */
}

body {
  font-family: var(--font-family-base);
  margin: 0;
}

a {
  color: #13a6e1;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Browser upgrade prompt
 * ========================================================================== */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #7a7b7e;
  border-radius: 5px;
}

:global(.browserupgrade) {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #696a6b;
}

/*
 * Print styles
 * Inlined to avoid the additional HTTP request:
 * http://www.phpied.com/delay-loading-your-print-css/
 * ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important;

    /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: ' ('attr(href) ')';
  }

  abbr[title]::after {
    content: ' ('attr(title) ')';
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^='#']::after,
  a[href^='javascript:']::after {
    content: '';
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media (max-width: 670px) {
  .logoName {
    font-size: 22px !important;
    color: $color-header-text;
    padding: 0 1em 0 1em;
  }
}

@media (max-width: 515px) {
  .logoName {
    font-size: 16px !important;
    color: $color-header-text;
    padding: 0 1em 0 1em;
  }
}

@media (max-width: 470px) {
  .logoName {
    font-size: 14px !important;
    color: $color-header-text;
    padding: 0 3em 0 1em;
  }
}

.container {
  padding: 0;
}

.containerRow {
  max-height: 82vh;
  overflow-x: hidden;
}

.rightContainer {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding-left: 50px;
  padding-top: 70px;
  overflow-x: hidden;
}

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 50px;
  background-color: #3f426b;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: left;
}

.MainImage {
  position: absolute;
  min-height: 90vh;
  min-width: 90vh;
  max-height: 90vh;
  max-width: 90em;
  margin-top: 3.5em;
}

//.logo {
//  display: flex;
//  align-items: center;
//  z-index: 50;
//}
//
//.logoImg {
//  display: flex;
//  align-items: center;
//
//  img {
//    margin: 0.7em 2em 0 -5em;
//  }
//}

.BigWavesLogo {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 398px;
  height: 218px;
}

.HeaderLogoWave {
  margin: 0.6em 0 0 0.5em;
}

.PlusCircleImg {
  margin: 0.7em 0 0 1em;
  float: right;
}

.linkHeader {
  display: inline-block;
}

.chatButton {
  margin-top: 10px;
  width: 70px;
  height: 40px;
  background-color: whitesmoke;
  text-align: center;
  justify-content: center;
  border-radius: 30px;

  button:active,
  button:focus {
    outline: none;
  }
}

.Footer {
  background-color: #3f426b;
  height: 140px;
  //text-align: center;
  color: #fff;
}

.FooterImage {
  margin: 1.5em;
}

.FooterLine {
  margin: 2.7em 0 0 2em;
}

.SloganFooter {
  margin: -3em 0 0 6em;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */

  letter-spacing: 0.05em;
  color: #fff;
  text-align: left;
}

.SocialIconFooter {
  margin: 2.8em 0 0 1.5em;
  height: 17px;
  font-size: 24px;
}
