@import "../variables.scss";
@import "../../style/index.scss";

.langselect {
  z-index: 100;
  position: relative;
  padding: 5px 10px;
  background-color: inherit;
  cursor: pointer;

  button,
  p {
    font-size: 14px;
    margin-bottom: 0;
    color: var(--color-header-text);
    transition: 0.2s ease;
  }

  p {
    :hover {
      color: red;
    }
  }
}

.langset {
  position: absolute;
  padding: 5px 10px;
  top: -60%;
  left: -10px;
  background-color: inherit;

  button {
    margin-bottom: 5px;
  }
}

.displaynone {
  display: none;
}

.displayblock {
  display: block;
}
