.InputError {
  border: 1px solid #dd404e !important;
  box-shadow: 0 0 4px #dd404e !important;
}

.TextError {
  margin-left: 0.5em;
  color: #dd404e;
  font-size: 14px;
  margin-bottom: 0;
}

.TextHidden {
  visibility: hidden;
}

div[class*=form-group] {
  margin-bottom: 0 !important;
}
