.LoginLinks {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #8d8888;
}

.LoginLinks:hover,
.LoginLinks:active {
  color: #3f426b;
}

.VerticalLine {
  color: #3f426b;
  font-size: 23px;
  margin: 0 0.8em 0 0.8em;
}
