.wrapper {
  width: 100%;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  width: 20%;
  margin-right: 10%;
}

.bannerWrap {
  width: 60%;
  height: 84vh;
  background-position: left;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
}

.heading {
  text-align: center;
  margin-bottom: 5rem;
}

.links {
  margin-top: 3rem;
  border-top: 0.1rem solid #e2e2e2;
}

.notSignedUp {
  color: #aeaeae;
}

@media (min-width: 360px) and (max-width: 768px) {
  .wrapper {
    padding: 0 3rem;
  }

  .form {
    width: 100%;
  }

  .bannerWrap {
    width: 0%;
    display: none;
  }
}
